/* Game layout */
#header{
  width: 100%; /* Width of frame */
  height: 100vh; /* Height of frame*/

  background-image: url(images/background.jpg); /* Default screen*/
  background-size: 100%; /* Size of background*/
  background-position: center; /* Fixed position*/
  background-repeat: no-repeat; /* No repeating images */
   
  display: flex; /* Adjustable frame*/
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  transition: background 1s; /* Changes the screen*/
}

/* Play button */
.playButton { 
  position: absolute;
  top: 85%; /* Vertically center the button */
  left: 50%; /* Horizontally center the button */
  transform: translate(-50%, -50%); /* Center the button precisely */
  
  background-color: #000000; /* Background color */
  color: #fff; /* Text color */
  border: none; /* Remove the button border */
  padding: 15px 25px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
}
  
/* Hover effect */
.playButton:hover {
  background-color: #2b2e31; /* Change color on hover */
}

/* Mute button */
#muteButton{
  position: absolute;
  top: 8%;
  left: 93%;
  cursor: pointer;

  color: #000000;
  display: none;
}

/* Animation for the Knight */
.knight {
  position: absolute;
  top: 70%;
  transform: translate(20%, -50%);

  width: 672px;
  height: 374px;
  background: url(images/Knight1-Walk.png);
  animation: knight 0.9s steps(5) infinite, moveknight 5s linear infinite;
}

@keyframes knight {
  from{
    background-position: 0;
  } to {
    background-position: 6720px;
  }
}

@keyframes moveknight {
  0% {
    left: -20%; /* Start from the left edge */
  }
  100% {
    left: -20%; /* Move to the left edge to right*/
  }
}

/* Text boxes for chatGPT interactions*/
.chatGPT{
  flex-basis: 60%;

  display: none;
}

.chatGPT form{
  width: 100%;
}

/* Input text chat */
#input{
  position: absolute;
  top: 95%;
  left: 47%;
  transform: translate(-50%, -50%);

  width: 80%;
  
  background-color: black;    
  border: 1px solid #ded6d6;
  outline: none;
  padding: 15px;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

/* Output text chat */
#output{
  position: absolute;
  top: 13%;
  left: 47%;
  transform: translate(-50%, -50%);

  width: 80%;
  
  background-color: black;
  border: 1px solid #ded6d6;
  outline: none;
  padding: 15px;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

/* Submit Button*/
.btn.btn2{
  position: absolute;
  top: 95%;
  left: 93%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  size: 20px;

  background-color: #000000;
  color: #fff;
  border: none;
  padding: 15px 25px; 
  border-radius: 5px;
  cursor: pointer; 
}

.btn.btn2:hover {
  background-color: #2b2e31; 
}