#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: 900px;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    transition: background 1s;
    opacity: 2s;

    image-rendering: pixelated;
}

button {
    background-color: #96b32f; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove the button border */
    padding: 15px 25px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to a pointer on hover */
  }
  
  /* Hover effect */
  button:hover {
    background-color: #47688c; /* Change color on hover */
  }
