/* Game layout */
#header{
  width: 100%; /* Width of frame */
  height: 100vh; /* Height of frame*/

  background-image: url(images/background.jpg); /* Default screen*/
  background-size: 900px; /* Size of background*/
  background-position: center; /* Fixed position*/
  background-repeat: no-repeat; /* No repeating images */
   
  display: flex; /* Adjustable frame*/
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  transition: background 1s; /* Changes the screen*/
}

/* Play button */
.playButton { 
  position: absolute;
  top: 71%; /* Vertically center the button */
  left: 50%; /* Horizontally center the button */
  transform: translate(-50%, -50%); /* Center the button precisely */
  
  background-color: #000000; /* Background color */
  color: #fff; /* Text color */
  border: none; /* Remove the button border */
  padding: 15px 25px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
}
  
/* Hover effect */
.playButton:hover {
  background-color: #2b2e31; /* Change color on hover */
}

.knight {
  position: absolute;
  top: 70%;
  transform: translate(20%, -50%);

  width: 450px;
  height: 252px;
  background: url(images/Knight1-Walk.png);
  animation: knight 0.9s steps(5) infinite, moveknight 5s linear infinite;
}

@keyframes knight {
  from{
    background-position: 0;
  } to {
    background-position: 4520px;
  }
}

@keyframes moveknight {
  0% {
    left: 4%; /* Start from the left edge */
  }
  100% {
    left: 4%; /* Move to the left edge to right*/
  }
}



.chatGPT{
  flex-basis: 60%;
}

.chatGPT form{
  width: 100%;
}

form input, form textarea{
  position: absolute;
  top: 85%;
  left: 46%;
  transform: translate(-50%, -50%);

  width: 47%;
  
  background-color: rgba(0, 0, 0, 0); /* Set a transparent background using rgba() */
  border: 1px solid #ded6d6;
  outline: none;
  padding: 15px;
  color: white;
  font-size: 18px;
  border-radius: 6px;

}

form .btn2{
  cursor: pointer;
}

.btn.btn2{
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-50%, -50%);

  size: 20px;

  background-color: #000000; /* Background color */
  color: #fff; /* Text color */
  border: none; /* Remove the button border */
  padding: 15px 25px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to a pointer on hover */
}

.btn.btn2:hover {
  background-color: #2b2e31; /* Change color on hover */
}